*.pyc
.idea
.mypy_cache
.pytest_cache
*.orig
*.local
*.yawiki
/build/
/cmake-build-*/
/docs/
CMakeLists.txt.user
compile_commands.json
tags
third_party/gbench
third_party/gtest
third_party/spdlog
static-analyzer-report
.project
.cproject
.pydevproject
.settings*
.clangd
.vscode
.ccache/
