[submodule "submodules/googletest"]
	path = submodules/googletest
	url = ssh://git@bb.yandex-team.ru/taxi-external/googletest.git
[submodule "submodules/google-benchmark"]
	path = submodules/google-benchmark
	url = ssh://git@bb.yandex-team.ru/taxi-external/google-benchmark.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = ssh://git@bb.yandex-team.ru/taxi-external/spdlog.git
