*.pyc
.idea
.DS_Store
.mypy_cache
.pytest_cache
*.orig
/Makefile.local
*.yawiki
.ccache/
.cache/
.cores/
/build*/
/cmake-build-*/
CMakeLists.txt.user
compile_commands.json
tags
static-analyzer-report
.project
.cproject
.pydevproject
.settings*
.clangd
.vscode
