* @taxi/common-group-developers

# TODO: move these into hierarchy
/core/**/conductor/ @antoshkka
/core/**/fs/ @antoshkka
/core/**/system/ @antoshkka

/core/*/cache/ @segoon
/core/*/clients/config/ @segoon
/core/*/clients/http/ @segoon @bugaevskiy
/core/*/components/ @segoon @bugaevskiy
/core/*/curl-ev/ @bugaevskiy
/core/*/engine/ @bugaevskiy @segoon
/core/*/fs/ @antoshkka
/core/*/rcu/ @segoon
/core/*/server/ @dzhuk @bugaevskiy @segoon
/core/*/server_settings/ @segoon
/core/*/storages/secdist/ @segoon
/core/*/taxi_config/ @segoon
/core/*/tracing/ @segoon
/core/*/yaml_config/ @antoshkka

/mongo/ @bugaevskiy
/postgresql/ @bugaevskiy
/redis/ @dzhuk @segoon

/shared/*/compiler/ @antoshkka
/shared/*/crypto/ @bugaevskiy @segoon
/shared/*/decimal64/ @antonyzhilin @bugaevskiy
/shared/*/fs/ @antoshkka
/shared/*/http/ @segoon @bugaevskiy

/third_party/boost_stacktrace/ @antoshkka
/third_party/magic_get/ @ser-fedorov @antoshkka

/uboost_coro/ @bugaevskiy @antoshkka

/universal/ @bugaevskiy
