
/* Too wide page makes people uncomfortable, keep content in center */
div.contents {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#projectlogo {
    width: 50px;
    padding: 7px;
}

#projectbrief {
  font-size: 120%;
}

#landing-content{
    text-align: center; 
    padding-bottom: 30px 0
}

#landing_logo_id{
    text-align: center;
    max-width: 400px;
}


/* Landing page */
.landing-logo {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 6%;
}


.landing-motto {
    text-align: right;
    font-size: 28px;
}

.landing-text {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #F7F7F7;
}

.landing-container {
    width: 100%;
    display:  table;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.landing-intro-left {
    font-size: 1.1em;
    width: 47%;
    text-align: justify;
    padding: 0.5em;
}

.landing-intro-right {
    font-size: 1.1em;
    padding: auto;

    width: 47%;

    text-align: justify;
    padding: 0.5em;
}

.bottom-nav {
    width: 100%;
    display: flex;
}

.bottom-nav .button {
    font-size: 12px;
    padding: 16px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 4px;
}

#projectname a {
    color: white !important;
}

#projectbrief a  {
    color: white !important;
}

#links {
    display: none;
}

#links a:hover {
    text-decoration: none;
}

#MSearchBox {
    display: none;
}

#projectlogo img  {
    width: 32px;
    max-height: none;
    margin: 0;
}

@media(max-width: 767px) {
    #top {
        display: flex;
        justify-content: space-between;
    }

    #main-nav {
        flex-grow: 0;
        padding: 0;
        margin: auto 0;
    }
    #projectlogo {
        padding: 0;
    }
    #projectname a {
        font-size: 14px;
    }
    #projectbrief a  {
        font-size: 7px;
    }

    .sm-dox {
        margin: auto 45px;
        position: relative;
    }
    #titlearea {
        padding: 10px;
    }

    /* body, table, div, p, dl {
        line-height: 20px;
    } */
    #main-nav {
       position: absolute;
       background-color: white;
       color: #352e48;
       /* border: 1px solid rgb(238, 236, 236); */
       font-weight: bold;
       top: 0px;
       right: 0px;
       z-index: -1;
       border-radius: 10px;
       margin: 0;
       
    }
    
    #main-nav ul {
        margin: 0;
        z-index: inherit;
    }
    #main-nav >ul >li {
        border-radius: 10px;
        padding: 5px 70px;  /* todo adaptive width */
    }
    #main-nav > ul > li > a  {
        padding: 0;
        display: block;
        font-weight: bold;
    }
    #main-nav > ul > li:hover,  #main-nav > ul > li > a:hover{
        background:  #fae7d3;
        color: #352e48 !important;
        
    }
    
    #projectalign {
        padding-left: 0;
    }

    #projectalign div{
        line-height: 10px;
    }

    /* #parent {
        position: absolute;
        margin: auto 0;
       left: 200px;
    } */

}

@media(min-width: 1440px) {
    #projectlogo img  {
        width: 72px;
    }
    td#projectalign {
        padding: 0;
        /* line-height: 22px; */
    }
    #projectname a {
        font-size: 42px;
    }
    #projectbrief a  {
        font-size: 17px;
    }
    #projectalign {
        padding-left: 0.5em;
    }
    #MSearchBox {
        display: block;
    }

    #links {
        display: block;
    }

    #projectalign  div {
        line-height: 26px;
    }
}

.bottom-nav .button.prev {
    margin-right: 10px;
}

.bottom-nav .button.next {
    margin-left: auto;
    text-align: right;
}

.bottom-nav .btn-title {
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.bottom-nav .button.prev .btn-title::before,
.bottom-nav .button.next .btn-title::after  {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-image: url(arrow.svg);
}

.bottom-nav .button.next .btn-title::after {
    transform: rotate(180deg);
}

.bottom-nav .button:hover {
    background: #f9e2ca;
    border-radius: 8px;
}

.bottom-nav .btn-sub {
    color: #6E6E6E;
}

.landing-intro-center {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #F7F7F7;
    width: 35%;
    text-align: center;
}

.landing-description {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html:not(.black-mode) .landing-intro-center {
    color: #304053;
}

html:not(.light-mode) .landing-intro-center  {
    color: #dedede;
}

#titlearea td{
    margin-left: 15px;
}
/* Bigger font for menu */
#main-nav > ul > li > a {
    font-size: 18px;
    
}
#main-nav > ul > li > a {
    color: #D2DBDE !important;
}

#main-nav > ul > li > a:hover {
    color: var(--primary-color)  !important;
}

.sm-dox a span.sub-arrow {
    border-color: #D2DBDE transparent transparent transparent;
}

.sm-dox ul a:hover span.sub-arrow {
    border-color: transparent transparent transparent var(--primary-color);
}

/* More space and scrolling for code snippets */
div.fragment {
    padding: 7px;
    overflow-x: auto;
}

/* Scale down image to the page width */
.image img {
    max-width: calc(100% - 7px - 7px - 1px - 1px);
    background-color: #FEFCF9; /* matches .fragment */
    border: 1px solid #FDCC9A; /* matches .fragment */
    padding: 7px; /* matches .fragment */
}

html {
    --primary-color: #f18128;
    --fragment-background: #fefaf4; /*todo */
    --light-pitch : #FDCC9A;
    --border-color: #FDCC9A;
    --page-secondary-foreground-color: #716690;
    --toc-primary-color: #352E48;
    --font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --font-family-monospace: 'Roboto Mono',ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    --separator-color: #FDCC9A;
    --box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
    --odd-color: rgba(0,0,0,.03);
    --tablehead-background: #FEFAF5;
    --code-background: #FEFCF9;
    --side-nav-background: #FEFCF9;
}

html.dark-mode {
    color-scheme: dark;
    --primary-color: #f18128;
    --primary-dark-color: #f18128;
    --border-color: #7A6DA0;
    --page-secondary-foreground-color: #716690;
    --toc-primary-color: #FFFFFF;
}

pre {
    font-family: var(--font-family-monospace);
}

.gh-logo {
    filter: invert(1);
}

.memItemLeft, .memTemplItemLeft {
    white-space: normal;
    font-size: 14px;
}

#MSearchResults .SRPage .SREntry {
    font-size: 10px;
}

#MSearchResults .SRPage .SREntry:hover {
    background:  var(--light-pitch);
    border-radius: 8px;
}

#titlearea a:hover {
    text-decoration: none;
}

#MSearchSelect {
    display: none;
}

#MSearchField {
    padding: 0 15px;
}

.all-results-link {
    padding: var(--spacing-small) var(--spacing-medium);
    display: flex;
    align-items: center;

}

.all-results-link:hover {
    background: var(--light-pitch);
    border-radius: 8px;
}

.all-results-link::after {
    margin-left: 7px;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(ep_arrow-up.svg);
    background-size: contain;
    mask-image:var(--primary-color); ;
}

.all-results-link:hover::after {
    filter: invert(1);
}

#MSearchResultsWindow {
    height: auto !important;
    max-height: 80vh !important;
    width: 380px !important;
}
#MSearchResultsWindow {
    transform: translate(-87px, 20px) !important;
}
.MSearchBoxActive #MSearchField {
    color: black;
}

div.toc li.level1 {
    margin-left: 0px;
}

div.toc li.level2 {
    margin-left: 15px;
}

div.toc li.level3 {
    margin-left: 30px;
}

div.toc li.level4 {
    margin-left: 45px;
}

div.toc li.level5 {
    margin-left: 60px;
}

div.toc li.level6 {
    margin-left: 75px;
}

#MSearchBox {
    width: 380px;
    margin-left: 15px;
    border-radius: 14px;
}

#top {
    background-color: #352e48;
    color: white !important;
}


#main-nav ul a:active {
    background-color: none;
}

/* Table of contents */

div.contents .toc  {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-sizing: border-box;
    min-width: 300px;
    padding: 16px 16px;
}

div.toc li.level1:first-child {
    margin-top: 16px;
}

div.toc li.level1, div.toc li.level2, div.toc li.level3, div.toc li.level4 {
    margin-top: 12px;
}

div.toc li {
    font-family: 'Roboto', sans-serif;
}

div.toc li a {
    font-size: 14px;
    color: var(--primary-color) !important;
}

div.toc li a.active {
    color: var(--toc-primary-color) !important;
    font-weight: bold;
}

@media (max-width: 768px) {
    div.contents .toc {
        padding-top: 0;
    }
    .bottom-nav .button {
        font-size: 14px;
    }
}

@media screen and (max-width: 999px){
div.contents .toc  {
    padding: 0px;
    padding-left: 10px;
}
div.toc h3 {
    padding-top: 14px !important;
}
}
.sm-dox ul a:hover, .sm-dox ul a:active, .sm-dox ul a:focus {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        --tablehead-background: #2f2a2a;
        --fragment-background: #7A6DA0;
    }}

    html.dark-mode {
        --page-background-color: #352E48;
        --separator-color: #7A6DA0;
        --side-nav-background: #413956;
        --code-background: #4D416C;

        --tablehead-background: #413956;
        --fragment-background: #4D416C;
    }


    .sm-dox a:hover span.sub-arrow {
        border-color: var(--primary-color) transparent transparent transparent;
    }

    .sm-dox ul a span.sub-arrow {
        border-color: transparent transparent transparent var(--page-foreground-color);

    }

    .sm-dox ul a:hover, .sm-dox ul a:active, .sm-dox ul a:focus {
        color: var(--primary-color) !important;
        background-color: transparent !important;

    }

    .sm-dox a:hover, .sm-dox a:active, .tablist li a:hover {

         background: transparent;
        color: var(--primary-color) !important;}

        #MSearchBox {
            background: white !important; }



a.titlelink {
    color: var(--page-foreground-color) !important;

}

a.titlelink:hover {
    color: var(--primary-color) !important;
}

.SRResult .highlight {
    font-weight: 600;
    color: white;
}
