/* Keep the menue background black */
.sm-dox {
    background-image:none;
    background-color: black;
    color: white;
}

.sm-dox ul a,
.sm-dox ul a:focus,
.sm-dox ul a:hover,
.sm-dox ul a:active,
.sm-dox a,
.sm-dox a:focus,
.sm-dox a:hover,
.sm-dox a:active
{
    color: white;
	  background-color: black;
    text-shadow:none;
}

.sm-dox ul {
    border:none;
    background: black;
}

/* Too wide page makes people uncomfortable, keep content in center */
div.contents {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

/* Do not stick to screen borders */
div.contents > * {
    padding-right: 13px;
    padding-left: 13px;
    max-width: calc(100% - 13px - 13px);
}

/* Bigger margins to visualy separate titles */
div.contents > div.textblock > h1 {
    margin: 38px 0px 10px;
    font-size: 25px; /* default in insanely huge */
}

div.contents > div.textblock > h2,
div.contents > div.textblock > h3,
div.contents > div.textblock > h4,
div.contents > div.textblock > h5,
div.contents > div.textblock > h6 {
    margin: 38px 0px 10px;
}

/* Separate two consecutive titles by smaller margins */
div.contents > div.textblock > h1 + h2,
div.contents > div.textblock > h2 + h3,
div.contents > div.textblock > h3 + h4,
div.contents > div.textblock > h4 + h5,
div.contents > div.textblock > h5 + h6
{
    margin: 15px 0px 10px;
}

/* Side navigation */
.sidenav {
    float: right;
    border: 1px solid #FDCC9A;
    padding: 13px 13px 13px 20px;
    margin: 13px 13px 13px 20px;
    max-width: 300px;
}

.sidenav a {
  padding-left: 43px;
  display: block;
}

/* Set svg logo size */
#projectlogo {
    width: 80px;
    padding: 7px;
}

/* Set logo background to black */
#titlearea {
    background-color: black;
    color: white;
}

/* Bigger font for menue */
#main-nav > ul > li > a {
    font-size: 16px;
}

/* More space and scrolling for code snippets */
div.fragment {
    padding: 7px;
    overflow-x: auto;
}

/* Do not put images in the middle */
.image {
    text-align: left;
}

/* Scale down image to the page width */
.image img {
    max-width: calc(100% - 7px - 7px - 1px - 1px);
    background-color: #FEFCF9; /* matches .fragment */
    border: 1px solid #FDCC9A; /* matches .fragment */
    padding: 7px; /* matches .fragment */
}

/* Almost transparent link that becomes visible on hover */
.hoverlink {
    opacity: 0.25;
    font-size: 80%; /* default in insanely huge */
}

.hoverlink:hover {
    opacity: 1.0;
    text-decoration: none;  /* do not undeline */
}

/* Enlarge search box */
#MSearchBox > span {
    transform: scale(1.3) translateX(-35px);
}

#MSearchBox > span.right {
    transform: scale(1.3);
}

#MSearchSelectWindow {
    transform: scale(1.3) translate(-35px, 20px);
}
