#pragma once

#include "requests.hpp"
#include "responses.hpp"

#include <userver/chaotic/openapi/client/command_control.hpp>
#include <userver/chaotic/openapi/server/dependencies.hpp>

namespace {{ namespace }} {

{% filter indent(width=8, first=True) %}

class Client {
public:
{% for op in operations %}
  {% if op.client_generate %}
    /// {{ op.method }} {{ op.path }}
    {{ op.description | cpp_comment }}
    {% if op.uses_digest_security() %}
    /// @note Requires HTTP Digest authentication. The credentials for security
    ///       scheme '{{ op.digest_scheme_name() }}' must be present in secdist
    ///       under http_digest.{{ spec.client_name }}.{{ op.digest_scheme_name() }}.
    {% endif %}
    /// @throw {{ op.cpp_namespace() }}::Exception
    {% for response in op.responses if response.is_error() %}
    /// @throw {{ op.cpp_namespace() }}::Response{{ response.status }}
    {% endfor %}

    virtual {{ op.cpp_namespace() }}::Response {{ op.cpp_method_name() }}(
      {% if not op.empty_request() %}
          const {{ op.cpp_namespace() }}::Request& request,
      {% endif %}
          const USERVER_NAMESPACE::chaotic::openapi::client::CommandControl& command_control = {}) = 0;
  {% endif %}
{% endfor %}

  virtual ~Client();
};

/// @brief Dependency tag for obtaining this client from a generated handler.
inline constexpr USERVER_NAMESPACE::chaotic::openapi::server::dependencies::FactoryTag<Client&> kDependency;

{% endfilter %}

}  // namespace {{ namespace }}
