#pragma once

#include <userver/chaotic/openapi/client/command_control.hpp>

namespace {{ namespace }} {

inline const USERVER_NAMESPACE::dynamic_config::Key<USERVER_NAMESPACE::chaotic::openapi::client::CommandControlDict>
    kQosConfig{"{{ config }}", USERVER_NAMESPACE::dynamic_config::DefaultAsJsonString{"{}"}};

} //
