#include <client/{{ name }}/requests.hpp>

#include <userver/chaotic/openapi/parameters_write.hpp>
#include <userver/formats/json/value_builder.hpp>

namespace {{ namespace }} {

namespace openapi = USERVER_NAMESPACE::chaotic::openapi;

{% for op in operations %}
  {% if op.client_generate %}
    {%- if not op.empty_request() -%}
      namespace {{ op.cpp_namespace() }} {

{% for parameter in op.parameters %}
    static constexpr openapi::Name k{{ parameter.cpp_name }} = "{{ parameter.raw_name }}";
{% endfor %}

void SerializeRequest(const Request& request, USERVER_NAMESPACE::clients::http::Request& http_request)
{
  {# parameters #}
  openapi::ParameterSinkHttpClient sink(
    http_request,
    "{{ op.path }}"
  );
  {% for parameter in op.parameters %}
    WriteParameter<{{ parameter.parser }}>(request.{{ parameter.cpp_name}}, sink);
  {% endfor %}

  {# body #}
  {% if len(op.request_bodies) == 1 %}
    // http_request.data(ToJsonString(request.body));
    http_request.data(ToString(USERVER_NAMESPACE::formats::json::ValueBuilder(request.body).ExtractValue()));
  {% elif len(op.request_bodies) > 1 %}
    {# TODO #}
    {%- for body in op.request_bodies -%}
    {% endfor %}
    UASSERT(false);
  {% endif %}
}

} // namespace
    {%- endif %}
  {% endif %}
{% endfor %}

}
