{% macro serialize(body, request, http_request) %}
  const auto &data = {{ request }};
  std::unordered_map<std::string, std::string> map;

  {% for field_name, field in body.schema.fields.items() %}
      {% if field.required %}
        map["{{ field_name }}"] = USERVER_NAMESPACE::chaotic::openapi::PrimitiveToString(data.{{ field_name }});
      {% else %}
        if (data.{{ field_name }})
          map["{{ field_name }}"] = USERVER_NAMESPACE::chaotic::openapi::PrimitiveToString(*data.{{ field_name }});
      {% endif %}
  {% endfor %}
  {{ http_request }}.data(USERVER_NAMESPACE::http::MakeQuery(map));
{% endmacro %}


{% macro define_body_cpp_name(body) %}
  using {{ body.cpp_name() }} = {{ body.schema.cpp_user_name() }};
{% endmacro %}
