[Unit]
Description=Yander.Taxi driver authorization service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/tmp
User=www-data
Group=www-data
ExecStart=/usr/bin/yandex-taxi-driver-authorizer --config /etc/yandex/taxi/driver-authorizer/config.json --init-log /var/log/yandex/taxi-driver-authorizer/server.log
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65535
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
