{% macro generate_stream_writer_declaration(userver, type) %}
    {#- handle subtypes -#}
    {% for schema in type.subtypes() %}
        {{- generate_stream_writer_declaration(userver, schema) }}
    {% endfor %}

    {%- if type.need_stream_writer() %}
        void WriteToStream(
            const {{ shortest_cpp_name(type) }}& value,
            {{ userver }}::formats::json::StringBuilder& sw
          {%- if type.need_add_hiding_args() %},
            bool hide_brackets = false,
            std::string_view hide_field_name = {}
          {%- endif -%}
        );
    {% endif %}
{% endmacro %}


{% macro _generate_cpp_struct_properties_stream_writer_definition(type) %}
    {% for fname, field in type.fields.items() %}
        {% if field.is_optional() %}
            if (value.{{ field.cpp_field_name() }} && hide_field_name != "{{ fname }}") {
                sw.Key("{{ fname }}");
                WriteToStream({{ field.schema.parser_type('', '') }}{
                    *value.{{ field.cpp_field_name() }}
                }, sw);
            }
        {% else %}
            if (hide_field_name != "{{ fname }}") {
                sw.Key("{{ fname }}");
                WriteToStream({{ field.schema.parser_type('', '') }}{
                    value.{{ field.cpp_field_name() }}
                }, sw);
            }
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro _generate_stream_writer_definition_extra_args(type) %}
    {% if type.need_add_hiding_args() %},
            [[maybe_unused]] bool hide_brackets,
            [[maybe_unused]] std::string_view hide_field_name
    {%- endif %}
{% endmacro %}

{% macro _generate_stream_writer_definition_guard(userver, type) %}
    {% if type.need_add_hiding_args() %}
            std::optional<{{ userver}}::formats::json::StringBuilder::ObjectGuard> guard;
            if (!hide_brackets) {
                guard.emplace(sw);
            }

    {% endif %}
{% endmacro %}

{% macro _generate_cpp_struct_additional_properties_stream_writer_definition(userver, type) %}
    {# `discriminator` property can not apear in additionalProperties => no `hide_field_name` checks #}
    {% if type.extra_type == True %}
            for (const auto& [field_key, field_value]: {{ userver }}::formats::common::Items(value.extra)) {
                sw.Key(field_key);
                WriteToStream(field_value, sw);
            }
    {% elif type.extra_type %}
            for (const auto& [field_key, field_value]: value.extra) {
                sw.Key(field_key);
                WriteToStream({{ type.extra_type.parser_type('', '') }}{ field_value }, sw);
            }
    {% else %}
            {#- additionalProperties: false -#}
    {% endif %}
{% endmacro %}

{% macro generate_stream_writer_definition(userver, type) %}
    {#- handle subtypes -#}
    {% for schema in type.subtypes() %}
        {{- generate_stream_writer_definition(userver, schema) }}
    {% endfor %}

    {%- if type.need_stream_writer() %}
        void WriteToStream(
            [[maybe_unused]] const {{ shortest_cpp_name(type) }}& value,
            {{ userver }}::formats::json::StringBuilder& sw {{- _generate_stream_writer_definition_extra_args(type) -}})
        {
            {% if type.get_py_type() == 'CppStruct' %}
                {{- _generate_stream_writer_definition_guard(userver, type) -}}

                {{- _generate_cpp_struct_properties_stream_writer_definition(type) -}}

                {{- _generate_cpp_struct_additional_properties_stream_writer_definition(userver, type) -}}

            {% elif type.get_py_type() in ('CppPrimitiveType', 'CppStringWithFormat', 'CppArray', 'CppRef', 'CppVariant', 'CppVariantWithDiscriminator') %}
                {# No new type #}
            {% elif type.get_py_type() in ('CppIntEnum', 'CppStringEnum') %}
                const auto result = k{{ type.cpp_global_struct_field_name() }}_Mapping.TryFindByFirst(value);
                if (result.has_value()) {
                    WriteToStream(*result, sw);
                } else {
                    throw std::runtime_error("Bad enum value");
                }
            {% elif type.get_py_type() == 'CppStructAllOf' %}
                {{- _generate_stream_writer_definition_guard(userver, type) -}}

                {% if type.has_nested_additional_properties() %}
                {{ userver }}::formats::json::ValueBuilder vb = {{ userver }}::formats::common::Type::kObject;
                {% endif %}

                {% for parent in type.parents %}
                    {% if parent.get_py_type() == 'CppRef' %}
                        {% set parent = parent.orig_cpp_type %}
                    {% endif%}

                    {% if parent.get_py_type() == 'CppStruct' %}
                        {{- _generate_cpp_struct_properties_stream_writer_definition(parent) -}}

                        {% if parent.extra_type %}
                            {{userver}}::formats::common::Merge(vb, static_cast<const {{ parent.cpp_global_name() }}&>(value).extra);
                        {% endif %}
                    {% else %}
                        {{ NOT_IMPLEMENTED(parent) }}
                    {% endif %}
                {% endfor %}

                {% if type.has_nested_additional_properties() %}
                    auto additional_properties = vb.ExtractValue();
                    for (const auto& [name, item]: {{ userver }}::formats::common::Items(additional_properties)) {
                        sw.Key(name);
                        WriteToStream(item, sw);
                    }
                {% endif %}
            {% else %}
                {{ NOT_IMPLEMENTED() }}
            {% endif %}
        }
    {% endif %}
{% endmacro %}
