#pragma once

#include "{{ pair_header }}.hpp"
#include "{{ pair_header }}_parsers.ipp"
{% for file in definition_includes(types.values()) %}
    #include <{{ file }}>
{%- endfor %}
{% for file in sax_parser_includes(types.values()) %}
    #include <{{ file }}>
{%- endfor %}
{% for file in external_sax_parser_includes %}
    #include <{{ file }}>
{%- endfor %}


{% macro generate_sax_parser(name, type) %}
    {# handle subtypes #}
    {%- for schema in type.subtypes() -%}
        {{ generate_sax_parser(
                schema.cpp_global_name(),
                schema,
           )
        }}
    {% endfor %}

    {% if type.get_py_type() == 'CppStruct' %}
        [[maybe_unused]] USERVER_NAMESPACE::chaotic::sax::Parser<{{ type.descriptor_type() }}>
            ParserOf(USERVER_NAMESPACE::chaotic::sax::Type<{{ name }}>);
    {% elif type.get_py_type() == 'CppStructAllOf' %}
        [[maybe_unused]] USERVER_NAMESPACE::chaotic::sax::impl::JsonDomParser<{{ name }}>
            ParserOf(USERVER_NAMESPACE::chaotic::sax::Type<{{ name }}>);
    {% endif %}
{% endmacro %}


{% import 'templates/common.jinja' as common %}

{% for name, type in types.items() %}
    {{ common.switch_namespace(cpp_namespace(name)) }}

    {{ generate_sax_parser(name, type) }}
{% endfor %}

{{ common.switch_namespace('') }}
