#pragma once

{% macro _generate_type_fwd(name, type) %}
    {% if not type.needs_new_type() %}
        {#- nothing -#}
    {% elif type.get_py_type() == 'CppStruct' %}
        struct {{ type.cpp_local_name() }};
    {% elif type.get_py_type() == 'CppIntEnum' %}
        enum class {{ type.cpp_local_name() }};
    {% elif type.get_py_type() == 'CppStringEnum' %}
        enum class {{ type.cpp_local_name() }};
    {% elif type.get_py_type() == 'CppStructAllOf' %}
        struct {{ type.cpp_local_name() }};
    {% else %}
        {{ NOT_IMPLEMENTED(type) }}
    {% endif %}
{% endmacro %}

{% import 'templates/common.jinja' as common %}

{% for name, type in types.items() %}
    {{- common.switch_namespace(cpp_namespace(name)) -}}

    {{- _generate_type_fwd(name, type) -}}
{% endfor %}

{{ common.switch_namespace('') }}
