# This is the minimum requirement of yandex-taxi-testsuite.
# To install the required python on an older Ubuntu:
#
#   sudo add-apt-repository ppa:deadsnakes/ppa
#   sudo apt update
#   sudo apt install python3.10-dev python3.10-venv
#   sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.10 100
#
userver_requires_at_least_python_3_10 >= 9999; python_version < '3.10'

requests >= 2.28.0
websockets >= 11.0.3, < 13.0.0
# pytest-8.4.2 works; pytest-9.0.0 seems to be broken with testsuite.
pytest < 9.0
zstd >= 1.5.5.0
