# This is the minimum requirement of yandex-taxi-testsuite.
# To install the required python on an older Ubuntu:
#
#   sudo add-apt-repository ppa:deadsnakes/ppa
#   sudo apt update
#   sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.9 100
#
userver_requires_at_least_python_3_9 >= 9999; python_version < '3.9'
yandex-taxi-testsuite[] >= 0.3.3, < 0.4
