# grpcio has still not been updated to support protobuf 5.x:
# https://github.com/grpc/grpc/issues/36142
# When the issue is closed, we should update this version to version with fix.
grpcio >= 1.99.0
grpcio-tools >= 1.99.0
protobuf >= 5.26.0, < 6.0dev
