# grpcio has apparently been updated to support protobuf 5.x.
# There is an issue that says the contrary, though:
# https://github.com/grpc/grpc/issues/36142
grpcio >= 1.63.0
grpcio-tools >= 1.63.0
protobuf >= 5.26.0, < 6.0dev
