__pycache__
build*/
compile_commands.json
.cache/
.ccache/
.idea/
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/cmake-variants.yaml
!.vscode/README.md
.cores/
cmake-build-*
Testing/
.DS_Store
Makefile.local
CMakeUserPresets.json
