{%- macro render_gen_node(node) %}
{%- if node.kind == "namespace" %}
{{ do_render_namespace(node) }}
{%- elif node.kind == "struct" %}
{{ do_render_struct(node) }}
{%- elif node.kind == "vanilla_class" %}
{{ do_render_vanilla_class(node) }}
{%- elif node.kind == "oneof" %}
{{ do_render_oneof(node) }}
{%- elif node.kind == "enum" %}
{{ do_render_enum(node) }}
{%- else %}
NOT_IMPLEMENTED_ERROR()
{%- endif %}
{% endmacro -%}

{%- macro do_render_namespace(namespace) %}
{%- if namespace.short_name | length > 0 %}
namespace {{ namespace.short_name }} {
{% endif %}
{% for child in namespace.children %}
{{ render_gen_node(child) }}
{%- endfor %}
{%- if namespace.short_name | length > 0 %}
}  // namespace {{ namespace.short_name }}
{% endif %}
{% endmacro -%}

{%- macro do_render_struct(struct) %}
struct {{ struct.name.short_name }};
{% endmacro -%}

{%- macro do_render_vanilla_class(node) %}
class {{ node.name.short_name }};
{% endmacro -%}

{%- macro do_render_oneof(struct) %}
struct {{ struct.name.short_name }};
{% endmacro -%}

{%- macro do_render_enum(enum) %}
enum class {{ enum.name.short_name }} : std::int32_t;
{% endmacro -%}

{%- macro do_render_io_functions(node, context) %}
{%- if node.kind == "struct" %}
{{ do_render_read(node, context) }}
{{ do_render_write_const_ref(node, context) }}
{{ do_render_write_rvalue(node, context) }}
{%- endif %}
{% endmacro -%}

{%- macro do_render_read(type_node, context) %}
{{ type_node.contextual_cpp_name(context=context) }}
ReadProtoStruct(USERVER_NAMESPACE::proto_structs::io::ReadContext&,
    USERVER_NAMESPACE::proto_structs::io::To<{{ type_node.contextual_cpp_name(context=context) }}>,
    const ::{{ type_node.vanilla_type_reference_fwd.full_cpp_name() }}&);
{% endmacro -%}

{%- macro do_render_write_const_ref(type_node, context) %}
void
WriteProtoStruct(USERVER_NAMESPACE::proto_structs::io::WriteContext&,
    const {{ type_node.contextual_cpp_name(context=context) }}&,
   ::{{ type_node.vanilla_type_reference_fwd.full_cpp_name() }}&);
{% endmacro -%}

{%- macro do_render_write_rvalue(type_node, context) %}
void
WriteProtoStruct(USERVER_NAMESPACE::proto_structs::io::WriteContext&,
    {{ type_node.contextual_cpp_name(context=context) }}&&,
    ::{{ type_node.vanilla_type_reference_fwd.full_cpp_name() }}&);
{% endmacro -%}
