{%- macro render_gen_node(node) %}
{%- if node.kind == "namespace" %}
{{ do_render_namespace(node) }}
{%- elif node.kind == "struct" %}
{{ do_render_struct(node) }}
{%- elif node.kind == "enum" %}
{{ do_render_enum(node) }}
{%- else %}
NOT_IMPLEMENTED_ERROR()
{%- endif %}
{% endmacro -%}

{%- macro do_render_namespace(namespace) %}
namespace {{ namespace.short_name }} {
{% for child in namespace.children %}
{{ render_gen_node(child) }}
{%- endfor %}
}  // namespace {{ namespace.short_name }}
{% endmacro -%}

{%- macro do_render_struct(struct) %}
struct {{ struct.name.short_name }};
{% endmacro -%}

{%- macro do_render_enum(enum) %}
enum class {{ enum.name.short_name }} : std::int32_t;
{% endmacro -%}
