{% import "forward_declarations.inc.jinja" as forward_declarations %}
{% import "types.inc.jinja" as types %}
{% import "utils.inc.jinja" as utils %}
{{ utils.do_not_edit(file_name_wo_ext) }}

#pragma once

{% for include in includes %}
#include <{{ include }}>
{% endfor %}

{% for node in gen_nodes %}
{{ forward_declarations.render_gen_node(node) }}
{%- endfor %}

{% for node in gen_nodes %}
{{ types.render_gen_node(node) }}
{%- endfor -%}
