{%- macro render_gen_node(node) %}
{%- if node.kind == "namespace" %}
{{ do_render_namespace(node) }}
{%- elif node.kind == "struct" %}
{{ do_render_struct(node) }}
{%- elif node.kind == "enum" %}
{{ do_render_enum(node) }}
{%- elif node.kind == "oneof" %}
{{ do_render_oneof(node) }}
{%- else %}
NOT_IMPLEMENTED_ERROR()
{%- endif %}
{% endmacro -%}

{%- macro do_render_namespace(namespace) %}
namespace {{ namespace.short_name }} {

{% for child in namespace.children %}
{{ render_gen_node(child) }}
{% endfor %}
}  // namespace {{ namespace.short_name }}
{% endmacro -%}

{%- macro do_render_struct(struct) %}
struct {{ struct.name.short_name }} final {
{% filter indent(width=4, first=True) %}
{% for nested in struct.nested_types %}
{{ render_gen_node(nested) }}
{% endfor %}
{% for field in struct.fields %}
{{ do_render_field(struct, field) }}
{% endfor %}
{% endfilter %}
};
{% endmacro -%}

{%- macro do_render_enum(enum) %}
enum class {{ enum.name.short_name }} : std::int32_t {
{% filter indent(width=4, first=True) %}
{% for value in enum.values %}
{{ value.short_name }} = {{ value.number }},
{% endfor %}
INTERNAL_DO_NOT_USE_ = std::numeric_limits<std::int32_t>::max(),  // Write default: instead.
{% endfilter %}
};
{% endmacro -%}

{%- macro do_render_oneof(oneof) %}
struct {{ oneof.name.short_name }} final : {{ oneof.base_class_template.contextual_cpp_name(context=oneof) }}<
{% filter indent(width=4, first=True) %}
{% for field in oneof.fields %}
{{ field.field_type.contextual_cpp_name(context=oneof) }}
{%- if not loop.last -%}
,
{%- endif %}

{% endfor %} {#- for field #}
{% endfilter %} {#- filter indent (template args) #}
> {
{% filter indent(width=4, first=True) %}
UPROTO_ONEOF_HEADER({{ oneof.name.short_name }})

// For each field {name}, there are methods: has_{name}, {name} (const& and &&), set_{name}, mutable_{name}.
{% for field in oneof.fields %}
UPROTO_ONEOF_FIELD({{ oneof.name.short_name }}, {{ field.field_type.contextual_cpp_name(context=oneof) }}, {{ field.short_name }})
{% endfor %} {#- for field #}
{% endfilter %} {#- filter indent (struct contents) #}
};
{% endmacro -%} {#- do_render_oneof -#}

{%- macro do_render_field(struct, field) %}
{{ field.field_type.contextual_cpp_name(context=struct) }} {{ field.short_name }}{};
{%- endmacro -%}
