name: "CLA Assistant"
'on':
  pull_request:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: ${{ github.event.comment.body == 'recheck' || github.event.comment.body == 'I hereby agree to the terms of the CLA available at: https://yandex.ru/legal/cla/?lang=en.' || github.event.comment.body == 'I hereby agree to the terms of the CLA available at: https://yandex.ru/legal/cla/?lang=ru.' || github.event_name == 'pull_request_target' }}
        # Beta Release
        uses: cla-assistant/github-action@v2.1.3-beta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # the below token should have repo scope and must be manually added by you in the repository's secret
          PERSONAL_ACCESS_TOKEN : ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'userver.json'
          path-to-document: 'https://github.com/userver-framework/userver/blob/develop/CONTRIBUTING.md'
          branch: 'develop'
          #allowlist: user1,bot*
          remote-organization-name: userver-framework
          remote-repository-name:  CLAs
